<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Error</title>
<style type="text/css">
  <!--
    a:link  { text-decoration: none; color: #0000FF; }
    a:visited { text-decoration: none; color: #0000FF; }
    a:active  { text-decoration: underline; color: #0000FF; }
    a:hover  { text-decoration: underline; color: #0000FF; }
  -->
  </style>
</head>

<body bgcolor="#EEEEEE" link="#0000FF" vlink="#0000FF" alink="#FF0000">

<div align="center">
<font size="2" face="Verdana,arial,sans-serif" color="#FF0000"><b>Error!</b></font></div>

<div align="center">
<font size="2" face="Verdana,arial,sans-serif" color="#000000"><b>#%errortext%#</b></font><br><br><br>
<font size="2" face="Verdana,arial,sans-serif" color="#000000">Please <a href="mailto:#%adminemail%#">email admin</a> if you have questions.</font><br>
</div>
</body>
</html>