<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Thank you</title>
<META http-equiv=Content-Type content="text/html; charset=windows-1250">
<STYLE type="text/css">
  <!--
A:link {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
  -->
</STYLE>
</HEAD>
<BODY vLink="#0000FF" aLink="#FF0000" link="#0000FF" bgColor="#EEEEEE">

<div align="center">
<font size="2" face="Verdana,arial,sans-serif" color="#FF0000"><b>Your account has been added. Thank you!<br></b></font><br>
<font size="2" face="Verdana,arial,sans-serif" color="#000000">You may give our code to your site and earn credits immediately.<br>If you need statistic, update your information or get HTML code for your site, please go to our <a href="#%memberfile%#">member area.</a></font>
<br><br>
<table border="1" cellspacing="1" cellpadding="10" width="600" bordercolor="#00CC66">
<tr><td align="center" width="100%" bgcolor="#FFFFFF">

  <table border="0" width="300" cellspacing="10" cellpadding="0">
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Username: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%userid%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Password: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%userpass%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Email: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%email%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">URL: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%siteurl%#</font></TD></TR>
        <TR>
          <TD colspan="2" align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Your banner:</TD></tr>
        <TR>
          <TD colspan="2">#%banner%#</TD></TR>
        </table>

</td></tr></table>
<br><br>
<table border="1" cellspacing="1" cellpadding="20" width="600" bordercolor="#00CC66">
<form><tr><td align="center" width="100%" bgcolor="#FFFFFF">
<font size="2" face="Verdana,arial,sans-serif" color="#000000">This is the banner exchange code for your page(s):</font><br>
<textarea rows="12" name="text" cols="70">
#%html%#
</textarea>
</td></tr></form></table>

</center>

</body>
</html>


