<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Join Now</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1250">
<STYLE type="text/css">
  <!--
A:link {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
  -->
</STYLE>
</HEAD>
<BODY vLink="#0000FF" aLink="#FF0000" link="#0000FF" bgColor="#EEEEEE">

<DIV align=center>
<CENTER>
<TABLE borderColor=#00cc66 cellSpacing=1 cellPadding=10 width=600 border=1>
<FORM action="join.php" method=post>
<INPUT type=hidden value=signup name=action> 
  <TBODY>
  <TR><TD align=middle width="100%" bgColor=#ffffff>
      <TABLE cellSpacing=5 cellPadding=0 width=300 border=0>
        <TBODY>
        <TR>
          <TD align="right"><FONT face="Verdana,arial,sans-serif" color="#000000" size="2">Username: </FONT></TD>
          <TD><INPUT maxLength="8" size="8" name="form[userid]"></TD></TR>
        <TR>
          <TD align="right"><FONT face="Verdana,arial,sans-serif" color="#000000" size="2">Password: </FONT></TD>
          <TD><INPUT maxLength="8" size="8" name="form[userpass]"></TD></TR>
        <TR>
          <TD noWrap align="right"><FONT face="Verdana,arial,sans-serif" color="#000000" size="2">Email: </FONT></TD>
          <TD><INPUT size="30" name="form[email]"></TD></TR>
        <TR>
          <TD noWrap align="right"><FONT face="Verdana,arial,sans-serif" color="#000000" size="2">Site URL: </FONT></TD>
          <TD><INPUT size="40" name="form[siteurl]"></TD></TR>
        <TR>
          <TD noWrap align="right"><FONT face="Verdana,arial,sans-serif" color="#000000" size="2">Banner URL: </FONT></TD>
          <TD><INPUT size="40" name="form[urlbanner]"></TD></TR>
        <TR>
          <TD align="middle" colSpan="2"><FONT face="Verdana,arial,sans-serif" color="#000000" size="1">The banner must measure #%bwidth%# x #%bheight%# pixels.</FONT> </TD></TR>
        <TR>
          <TD>&nbsp;</TD>
          <TD align="left"><INPUT type="submit" value="Submit" name="B1"></TD></TR>
		</TBODY></TABLE>
</TD></TR></FORM>
</TBODY></TABLE>

</CENTER></DIV>
</BODY>
</HTML>
