<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Statistic</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1250">
<STYLE type="text/css">
  <!--
A:link {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
  -->
</STYLE>
</HEAD>
<BODY vLink="#0000FF" aLink="#FF0000" link="#0000FF" bgColor="#EEEEEE">

<div align="center"><center>
<table border="1" cellspacing="1" cellpadding="10" width="500" bordercolor="#00CC66">
<tr><td align="center" width="100%" bgcolor="#FFFFFF">
 <table border="0" width="300" cellspacing="10" cellpadding="0">
        <TR>
          <TD colspan=2 nowrap align=center><font size="2" face="Verdana,arial,sans-serif" color="#0000FF"><b>Statistic for member #%userid%#</b></font><br><br></TD></TR>
		<TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Banners displayed on your site: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%meshows%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Credits earned: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%earned%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Your banner have been displayed: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%weshow%# times</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Unused credits: </font><br><br></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%notused%#</font><br><br></TD></TR>
        </table>
</td></tr></table>
</center></div>

</body></html>

