<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Log In</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1250">
<STYLE type="text/css">
  <!--
A:link {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
  -->
</STYLE>
</HEAD>
<BODY vLink="#0000FF" aLink="#FF0000" link="#0000FF" bgColor="#EEEEEE">

<div align="center"><center>
<table border="0" width="300" cellspacing="2" cellpadding="4">
<form method="POST" action="member.php">
<input type="hidden" name="form[userid]" value="#%userid%#">
<input type="hidden" name="form[userpass]" value="#%userpass%#">
<tr bgcolor="#FFFFFF">
	<td colspan="2" align="center" nowrap><b><font size="2" color="#0000FF" face="Verdana,arial">Please select function.</b></font></td>
</tr>
<tr bgcolor="#FFFFFF">
	<td width="10" align="left"><input type="radio" value="edit" checked name="action"></td>
	<td align="left" nowrap><font size="2" color="#000000" face="Verdana,arial">Edit account</font></td>
</tr>
<tr bgcolor="#FFFFFF">
	<td width="10" align="left"><input type="radio" value="stats" name="action"></td>
	<td align="left" nowrap><font size="2" color="#000000" face="Verdana,arial">Get stats</font></td>
</tr>
<tr bgcolor="#FFFFFF">
	<td width="10" align="left"><input type="radio" value="html" name="action"></td>
	<td align="left" nowrap><font size="2" color="#000000" face="Verdana,arial">Display HTML code</font></td>
</tr>
<tr>
    <TD align=center colSpan=2>
	<INPUT style="BORDER-TOP-STYLE: double; BORDER-RIGHT-STYLE: double; BORDER-LEFT-STYLE: double; BORDER-BOTTOM-STYLE: double" type="submit" value="Submit" name="B1"></TD></TR>
</TBODY></TABLE></CENTER></DIV></FORM>

</BODY>
</HTML>


