<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Your HTML Code</TITLE>
<META http-equiv=Content-Type content="text/html; charset=windows-1250">
<STYLE type="text/css">
  <!--
A:link {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
  -->
</STYLE>
</HEAD>
<BODY vLink="#0000FF" aLink="#FF0000" link="#0000FF" bgColor="#EEEEEE">

<div align="center"><center>
<table border="1" cellspacing="1" cellpadding="20" width="600" bordercolor="#00CC66">
<form><tr><td align="center" width="100%" bgcolor="#FFFFFF">
<font size="2" face="Verdana,arial,sans-serif" color="#000000">This is the banner exchange code for your page(s):</font><br>
<textarea rows="12" name="text" cols="70">
#%html%#
</textarea>
</td></tr>
</form></table>
</center>

</body>
</html>


