<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Account Edited</title>
<META http-equiv=Content-Type content="text/html; charset=windows-1250">
<STYLE type="text/css">
  <!--
A:link {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000FF; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline
}
  -->
</STYLE>
</HEAD>
<BODY vLink="#0000FF" aLink="#FF0000" link="#0000FF" bgColor="#EEEEEE">

<div align="center"><center>
<table border="1" cellspacing="1" cellpadding="10" width="500" bordercolor="#00CC66">
  <tr><td align="center" width="100%" bgcolor="#FFFFFF">
    <table border="0" width="300" cellspacing="10" cellpadding="0">
        <TR>
          <TD colspan=2 nowrap align=left><font size="2" face="Verdana,arial,sans-serif" color="#0000FF"><b>Account  has been updated</b></font><br></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Username: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%userid%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Password: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%userpass%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Email: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%email%#</font></TD></TR>
        <TR>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">URL: </font></TD>
          <TD nowrap align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">#%siteurl%#</font></TD></TR>
        <TR>
          <TD colspan="2" align="left"><font size="2" face="Verdana,arial,sans-serif" color="#000000">Your banner: </font></TD></tr>
          <tr>
          <TD colspan="2">#%banner%#</TD></TR>
    </table>
</td></tr></table>
</center></div>

</body>
</html>

